// header
header {
  width: 100%;
  height: 200px;
  position: fixed;
  .wrapper {
    width: 85%;
    height: 100%;
    position: relative;
    background: radial-gradient(at 800% -800%, white, $dark-blue);
    border-bottom-right-radius: 100%;
    box-shadow: #00000027 2px 2px 5px;
    .title {
      width: 160px;
      height: 160px;
      position: absolute;
      margin: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: outset 3px #F3FFC6;
      border-radius: 10px;
      color: $dark-blue;
      font-weight: 900;
      font-size: 40px;
      text-shadow: white 1px 1px 1px;
      background: radial-gradient(at -80px -100px, white, $light-blue);
      box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
    }
  }
  .navbar {
    height: 120%;
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    background: radial-gradient(at 700% -700%, white, $dark-blue);
    z-index: -1;
    border-bottom-left-radius: 100%;
    box-shadow: #00000060 3px 3px 5px;
    .navbar-item {
      border-radius: 50%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 17px;
      font-weight: 600;
      line-height: 18px;
      border: outset 3px #F3FFC6;
      background: radial-gradient(at -80px -100px, white, $light-blue);
      box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
      cursor: pointer;
      transition: border-color .25s;
      &:hover {
        border-color: $dark-blue;
        background: radial-gradient(at 100px 100px, white, $light-blue);
        font-weight: 700;
        box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 3px;
      }

    }
    .new-todo {
      height: 70px;
      width: 70px;
      top: 55%;
      right: calc(3% + 95px + 90px + 85px);
    }
    .new-project {
      height: 75px;
      width: 75px;
      top: 56%;
      right: calc(3% + 95px + 90px);
    }
    .todos {
      height: 80px;
      width: 80px;
      top: 57%;
      right: calc(3% + 95px);
    }
    .projects {
      height: 85px;
      width: 85px;
      top: 58%;
      right: 3%;
    }

    @media (max-width: 1200px) {
      
      .new-todo {
        right: calc(3% + 90px + 85px + 80px);
      }
      .new-project {
        right: calc(3% + 90px + 85px);
      }
      .todos {
        right: calc(3% + 90px);
      }
    }

    @media (max-width: 992px) {
      .new-todo {
        top: 38%;
        right: 17%;
      }
      .new-project {
        top: 15%;
        right: 3%;
      }
      .todos {
        top: 53%;
        right: 30%;
      }
    }

    @media (max-width: 768px) {
      .new-todo {
        top: 32%;
        right: 18%;
      }
      .new-project {
        top: 5%;
        right: 3%;
      }
      .todos {
        top: 50%;
        right: 35%;
      }
    }
  }
}
