// new todo form
.new-todo-wrapper {
  width: 90%;
  margin: 20px auto 20px auto;
  padding: 10px;
  background: radial-gradient(at -200% -100%, white, $light-blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 1px $dark-blue;
  border-radius: 10px;
  box-shadow: $dark-blue 1px 2px 3px;
  input, select {
    border-radius: 5px;
    background: lighten($color: $light-blue, $amount: 50);
  }
  & > div {
    flex: 0 1 400px;

  }
  .new-todo-subwrapper {
    margin: 0 auto;
    & > div {
      margin: 35px 6%;
      display: flex;
      justify-content: space-between;
      & > :first-child {
        font-weight: 600;
        font-size: 20px;
      }
    }
    .priority-wrapper {
      & > :nth-child(2) {
        span {  
          padding-left: 15px;
          padding-right: 5px;
        }
        input {
          position: relative;
          top: 5px;
        }
      }
    }
    .check-list-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      & > div:not(:first-child) {
        align-self: flex-end;
        input {
          margin: 10px;
        }
        :nth-child(2) {
          position: relative;
          top: 3px;
        }
      }
      & > :last-child {
        font-size: 32px;
        font-weight: 700;
        position: absolute;
        right: 10px;
        top: -12px;
        cursor: pointer;
        &:hover {
          color: lighten($color: $dark-blue, $amount: 5); 
        }
      }
    }
  }
  .submit-btn-wrapper {
    flex: 0 0 100%;
    height: 80px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      height: 70px;
      width: 70px;
      border: outset 1px lighten($dark-blue, 10);
      border-radius: 50%;
      background: radial-gradient(at -80px -100px, white, $dark-blue);
      box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
      color: #F3FFC6;
      font-weight: 600;
      font-size: 20px;
      text-shadow: $dark-blue 3px 3px 1px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        border-color: lighten($dark-blue, 5);
        background: radial-gradient(at 200px 200px, white, $dark-blue);
        font-weight: 700;
        box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 3px;
      }
    }
  }
}
