// variables
$light-blue: #009fb7;
$dark-blue: #0d324d;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'header.scss';
@import 'content.scss';

// config
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
}

// hidden
.hidden {
  display: none;
}

// main
.main {
  min-height: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: radial-gradient(at -200% -100%, white, $light-blue);
}

// content - main wrapper of cards
.content {
  width: 100%;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .content {
    grid-template-columns: repeat(5, 1fr);
  }
}

// todo cards layout
.todo-item {
  position: relative;
  max-height: 520px;
  padding: 10px 0;
  border: solid 1px red;
  overflow: hidden; // this fixes overflow of todos from document in the bottom
  .wrapper {
    position: relative;
    z-index: 1;
    width: 200px;
    height: 240px;
    margin: auto;
    border: solid 1px $dark-blue;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    background: radial-gradient(at -200% -100%, white, $light-blue);
    box-shadow: $dark-blue 1px 2px 3px;
    &:hover {
      background: radial-gradient(at 300% 200%, white, $light-blue);
      box-shadow: $dark-blue 2px 3px 4px;
    }
    
    // menu btn
    .menu-btn {
      position: absolute;
      width: 32px;
      height: 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 50% 25% 25% 50%;
      border: solid 1px $dark-blue;
      top: 5px;
      right: -10px;
      box-shadow: $dark-blue -1px 1px 2px;
      background: radial-gradient(at -200% -100%, white, $light-blue);
      cursor: pointer;
      &:hover {
        background: radial-gradient(at 500% 400%, white, $light-blue);
      }
      div {
        width: 20px;
        height: 0;
        border: solid 3px $dark-blue;
        background: $dark-blue;
        margin: .1rem;
        border-radius: 2px;
      }
    }

    .menu-btn-expanded {
      right: -210px;
      :nth-child(1) {
        transform: rotate(45deg);
        margin-bottom: -.18rem;
        margin-left: .2rem;
      }
      :nth-child(2) {
        transform: rotate(-45deg);
        margin-top: -.1rem;
        margin-left: .2rem;
      }
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      word-break: break-word;
      line-height: 1.2rem;
      :nth-child(2) {
        font-size: 20px;
        font-weight: 600;
      }
    }
    .title-div {
      flex-basis: 100%;
      height: 35%;
      font-size: 24px;
      border-bottom: solid 1px $dark-blue;
    }
    .date-div {
      flex-basis: 100%;
      height: 30%;
    }
    .priority-div {
      flex-basis: 40%;
      height: 35%;
    }
    .project-div {
      flex-basis: 60%;
      height: 35%;
    }
  }

  .expanded-todo {
    width: 400px;
    height: 480px;
    position: relative;
    top: -240px;
    margin: 0 auto;
    border: solid 1px $dark-blue;
    border-radius: 10px;
    background: radial-gradient(at -200% -100%, white, $light-blue);
    box-shadow: $dark-blue 1px 2px 3px;
    display: grid;
    grid-template-columns: 50% 50%;
    div {
      display: flex;
      flex-direction: column;
      padding: 10px;
      :first-child {
        align-self: center;
        font-weight: 600;
        font-size: 18px;
      }
    }
    .description-div {
      grid-column: 2 / 3;
    }
  }

  .wrapper-expanded {
    margin-right: 50%;
  }

  // add new to do item button
  .add-todo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 600;
    color: transparentize($color: $dark-blue, $amount: 0.2);
    background: radial-gradient(at 300% 200%, white, lighten($color: $light-blue, $amount: 15));
    text-shadow: $dark-blue 0px 0px 1px;
    cursor: pointer;
    transition: color .25s;
    :nth-child(2) {
      font-size: 32px;
      font-weight: 500;
    }
    &:hover {
      text-shadow: none;
      color: $dark-blue;
      background: radial-gradient(at -300% -200%, white, lighten($color: $light-blue, $amount: 15));
      box-shadow: $dark-blue 2px 3px 4px;
      font-weight: 700;
      line-height: 40px;
      :nth-child(1) {
        transition: scale .4s;
        scale: 1.05;
        transition: transform .6s ease;
        transform: rotate(180deg);
      }
    }
  }
}
