// variables
$light-blue: #009fb7;
$dark-blue: #0d324d;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'header.scss';
@import 'content.scss';
@import 'new-todo.scss';
@import 'todos.scss';
@import 'new-project.scss';
@import 'projects.scss';

// config
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  color: $dark-blue;
}

// hidden
.hidden {
  display: none;
}

// main
.main {
  min-height: 100vh;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: radial-gradient(at -200% -100%, white, $light-blue);
}

// content - main wrapper of cards
.content {
  width: 100%;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .content {
    grid-template-columns: repeat(5, 1fr);
  }
}

// add new card item button
.add-card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: 600;
  color: transparentize($color: $dark-blue, $amount: 0.2);
  background: radial-gradient(at 300% 200%, white, lighten($color: $light-blue, $amount: 15));
  text-shadow: $dark-blue 0px 0px 1px;
  cursor: pointer;
  transition: color .25s;
  :nth-child(2) {
    font-size: 32px;
    font-weight: 500;
  }
  &:hover {
    text-shadow: none;
    color: $dark-blue;
    background: radial-gradient(at -300% -200%, white, lighten($color: $light-blue, $amount: 15));
    box-shadow: $dark-blue 2px 3px 4px;
    font-weight: 700;
    line-height: 40px;
    :nth-child(1) {
      transition: scale .4s;
      scale: 1.05;
      transition: transform .6s ease;
      transform: rotate(180deg);
    }
  }
}

// submit button
.submit-btn-wrapper {
  flex: 0 0 100%;
  height: 80px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    height: 70px;
    width: 70px;
    border: outset 1px lighten($dark-blue, 10);
    border-radius: 50%;
    background: radial-gradient(at -80px -100px, white, $dark-blue);
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
    color: #F3FFC6;
    font-weight: 600;
    font-size: 20px;
    text-shadow: $dark-blue 3px 3px 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      border-color: lighten($dark-blue, 5);
      background: radial-gradient(at 200px 200px, white, $dark-blue);
      font-weight: 700;
      box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 3px;
    }
  }
}

// menu btn
.menu-btn, .edit-btn, .delete-btn {
  position: absolute;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  border-radius: 50% 25% 25% 50%;
  border: solid 1px $dark-blue;
  box-shadow: $dark-blue -1px 1px 2px;
  background: radial-gradient(at -200% -100%, white, $light-blue);
  cursor: pointer;
  &:hover {
    background: radial-gradient(at 500% 400%, white, $light-blue);
  }
}
